<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
</head>
<body>
<h1> Weather Data API</h1>
<p>URL Format: http//127.0.0.1:5001/api/v1/station/date</p>

<h4>Examples</h4>
<p>URL Example: <a href="http://127.0.0.1:5001/api/v1/10/1988-10-25">http://127.0.0.1:5001/api/v1/10/1988-10-25</a></p>
<p>URL Example: <a href="http://127.0.0.1:5001/api/v1/10">http://127.0.0.1:5001/api/v1/10</a></p>
<p>URL Example: <a href="http://127.0.0.1:5001/api/v1/yearly/10/1988">http://127.0.0.1:5001/api/v1/yearly/10/1988</a></p>

<p>{{data|safe}}</p>
</body>
</html>